alias ls='ls --group-directories-first --color=auto'
alias grep='grep --color=auto'

# shortcuts
alias tomorrow="vim ~/d/tomorrow -c ':Goyo'"
alias v="vim -c ':Goyo'"
alias b="firefox"
alias wn="sdcv --use-dict=WordNet"
alias wb="sdcv --use-dict=\"Webster's Revised Unabridged Dictionary (1913)\""

alias docker-ip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"

# projects
alias clarity="cd ~/k/lp/clj/clarity"
alias pixl="cd ~/k/lp/js/pixl"

alias uni="cd ~/d/uni/s2014"
alias nkl="cd ~/d/uni/s2014/nkl"
alias semweb="cd ~/d/uni/s2014/semweb"
