alias ls='ls --group-directories-first --color=auto'

# shortcuts
alias tomorrow="vim ~/d/tomorrow -c ':Goyo'"
alias v="vim -c ':Goyo'"
alias b="firefox"

# projects
alias clarity="cd ~/k/lp/clj/clarity"
alias pixl="cd ~/k/lp/js/pixl"

alias uni="cd ~/d/uni/s2014"
alias nkl="cd ~/d/uni/s2014/nkl"
alias semweb="cd ~/d/uni/s2014/semweb"
