[user]
	name = Luna Stadler
	email = lu@papill0n.org
[core]
	editor = nvim
[merge]
	conflictstyle = diff3
[alias]
	st = "!st() { git status --short --branch . && (git grep --untracked -E --color 'TODO|FIXME' -- :^Makefile || true) }; st"
	d  = diff .
	l10 = log -n10
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	ba = branch -a
	praise = blame
	recent-tags = ! sh -c 'git tag --sort=-authordate | head -n5'
	release = "!r() { (test -n \"$1\" || (echo \"Missing version argument, e.g. git release 1.0.0\" && exit 1)) && git tag $1 && git push origin master $1; }; r"
	trigger-release = "!r() { (test -n \"$1\" || (echo \"Missing version argument, e.g. git trigger-release 1.0.0\" && exit 1)) && git tag trigger-release-$1 && git push origin master trigger-release-$1; }; r"
	prune-branches = "!p() { git branch -d $(git remote prune -n ${1:-origin} | sed -n \"s/.*\\[would prune\\] ${1:origin}\\///p\"); git remote prune ${1:-origin}; }; p $1"
[format]
	pretty = %C(auto)%h %Cgreen[%cr]%Creset %C(auto)(%an) %s%d
[color]
	ui = auto
# Some shortcuts
[url "git://github.com/"]
	insteadOf = hub:
[url "git@github.com:"]
	insteadOf = gh:
[url "https://gitlab.com/"]
	insteadOf = gl:
[url "git@heroku.com:"]
	insteadOf = heroku:
[url "git://anongit.freedesktop.org/"]
	insteadOf = fd:
[url "git@bitbucket.org:"]
	insteadOf = bb:
[url "git@git.papill0n.org:/srv/git/repos/"]
	insteadOf = p0n:
[push]
	default = simple
[pull]
	ff = only
[http "https://gopkg.in"]
	followRedirects = true
[init]
	defaultBranch = main
