[user]
	name = Lu Stadler
	email = lu@papill0n.org
[core]
	editor = vim
[merge]
	conflictstyle = diff3
[alias]
	st = status --short --branch .
	d  = diff .
	l10 = log -n10
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	ba = branch -a
	praise = blame
[format]
	pretty = %C(magenta)%h%Creset %Cgreen[%cr]%Creset (%an) %s
[color]
	ui = auto
# Some shortcuts
[url "git://github.com/"]
	insteadOf = hub:
[url "git@github.com:"]
	insteadOf = gh:
[url "https://gitlab.com/"]
	insteadOf = gl:
[url "git@heroku.com:"]
	insteadOf = heroku:
[url "git://anongit.freedesktop.org/"]
	insteadOf = fd:
[url "git@bitbucket.org:"]
	insteadOf = bb:
[url "git@git.papill0n.org:/srv/git/repos/"]
	insteadOf = p0n:
[push]
	default = simple
[pull]
	ff = only
